
body {
    font-family: Arial, sans-serif;
    background-color: #F5FBEF; 
    color: #2c3e50; 
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: black;
}

.job-listing {
    background-color: #b5c99a;

    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px; /* Adjust padding for a shorter box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    box-sizing: border-box;
    flex:0 0 30%;
   
  
    
}
.JobContainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0 -10px;
    
}

.job-listing:hover {
    transform: translateY(-2px);
}

.job-listing h3 {
    margin: 0 0 5px;
    color: #000000; 
}

.job-listing p {
    margin: 5px 0;
    color: #000000; 
}

.details-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.details-button:hover {
    background-color: #2A3022;
    color: white;
}

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paging button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.paging button:hover {
    background-color: #2A3022;
    color: white;
}

#page-number {
    margin: 0 15px;
    font-weight: bold;
    color: black; 
}
